@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

p {
    font-size: 21px;
    font-weight: 500;
    color: #000000;
}

#topbar .social-links {
    font-size: 16px;
}

.logo-img img {
    height: 100px;
}

.navbar-brand img {
    height: 100px;
    width: 90px;
}

header {
    background: #6bc4f8;
}

.menu-area {
    background: #6bc4f8;
    padding-top: 50px;
}

.dropdown-menu {
    padding: 0;
    margin: 0;
    border: 0 solid transition !important;
    border: 0 solid rgba(0, 0, 0, .15);
    border-radius: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.mainmenu a,
.navbar-default .navbar-nav>li>a,
.mainmenu ul li a,
.navbar-expand-lg .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 16.5px;
    text-transform: uppercase;
    padding: 16px 15px;
    font-family: 'Roboto', sans-serif;
    display: block !important;
    font-weight: 500;
}

.mainmenu .active a,
.mainmenu .active a:focus,
.mainmenu .active a:hover,
.mainmenu li a:hover,
.mainmenu li a:focus,
.navbar-default .navbar-nav>.show>a,
.navbar-default .navbar-nav>.show>a:focus,
.navbar-default .navbar-nav>.show>a:hover {
    color: #fff;
    text-decoration: none;
}

/*==========Sub Menu=v==========*/
.mainmenu .collapse ul>li:hover>a {
    background: #a3e974;
}

.mainmenu .collapse ul ul>li:hover>a,
.navbar-default .navbar-nav .show .dropdown-menu>li>a:focus,
.navbar-default .navbar-nav .show .dropdown-menu>li>a:hover {
    /* background: #F08714; */
    background: #86bd61;
}

.mainmenu .collapse ul ul ul>li:hover>a {
    background: #4CAF50;
}

.mainmenu .collapse ul ul,
.mainmenu .collapse ul ul.dropdown-menu {
    background: #1565C0;
}

.mainmenu .collapse ul ul ul,
.mainmenu .collapse ul ul ul.dropdown-menu {
    background: #1E88E5
}

.mainmenu .collapse ul ul ul ul,
.mainmenu .collapse ul ul ul ul.dropdown-menu {
    background: #64B5F6
}

/******************************Drop-down menu work on hover**********************************/
.mainmenu {
    background: none;
    border: 0 solid;
    margin: 0;
    padding: 0;
    min-height: 20px;
    width: 100%;
}

@media only screen and (min-width: 767px) {
    .mainmenu .collapse ul li:hover>ul {
        display: block
    }

    .mainmenu .collapse ul ul {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 250px;
        display: none
    }

    /*******/
    .mainmenu .collapse ul ul li {
        position: relative
    }

    .mainmenu .collapse ul ul li:hover>ul {
        display: block
    }

    .mainmenu .collapse ul ul ul {
        position: absolute;
        top: 0;
        left: 100%;
        min-width: 250px;
        display: none
    }

    /*******/
    .mainmenu .collapse ul ul ul li {
        position: relative
    }

    .mainmenu .collapse ul ul ul li:hover ul {
        display: block
    }

    .mainmenu .collapse ul ul ul ul {
        position: absolute;
        top: 0;
        left: -100%;
        min-width: 250px;
        display: none;
        z-index: 1
    }

}

@media only screen and (max-width: 767px) {
    .navbar-nav .show .dropdown-menu .dropdown-menu>li>a {
        padding: 16px 15px 16px 35px
    }

    .navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu>li>a {
        padding: 16px 15px 16px 45px
    }
}


/* --------------------------------- BACKGROUND VIDEO ------------------------------*/

.row-hero {

    height: 20rem;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media(min-width: 480px) {
    .row-hero {
        height: 25rem;
    }
}

@media(min-width: 720px) {
    .row-hero {
        height: 35rem;
    }
}

.video {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;

}

.video-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    background-image: url(../images/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

}

.video-quote {

    top: 50%;
    padding: 2.5rem 1rem;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 500px) {
    .org-name {
        font-size: 20px;
    }

    .video-quote {
        padding: 1rem;
    }
}


/* ------------------------------------------------------ COMMON PAGE BACKGROUND ----------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Merriweather:400,900italic,900,700italic,700,400italic);

.jumbotron-fluid section {
    color: #000000;
    padding: 10px 0;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.divider {
    padding: 0;
    margin: 0;
}

.divider h1 {
    margin: 10%;
    text-align: center;
    font-size: 48px;
    color: #fff;
    font-family: 'Paytone One',
        sans-serif;
}

@media only screen and (max-width: 700px) {
    .divider h1 {
        font-size: 20px;
    }

}

.get-involved u {
    color: #34b4db;
    font-weight: bold;
}


/* ----------------------------------- BLOG PAGE -------------------------------------- */

.sub-title {
    color: #53a9e2;
    font-weight: bold;
}

#blog-section h3 {
    font-size: 2.5rem;
    color: #000000;
}

#blog-section p {
    font-size: 18px;
}

@media (max-width: 600px) {
    #blog-section h3 {
        font-size: 1.5rem;
    }

    #blog-section p {
        font-size: 17px;
    }
}


/*-------------------------------------- TEAM PAGE ------------------------------------*/



#team {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 3;
    font-family: 'Fresca',
        sans-serif;
}

#team b {
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
    font-size: 14.2px;
}

#team .card {
    width: 33%;
    min-width: 250px;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 0.5% 1% 0;
    display: inline-block
}

#team .card:nth-of-type(3n) {
    margin-right: 0;
}

#team .card img {
    width: 100%;
    min-height: 100%;
    transition: all 0.9s
}

#team .card:hover img {
    transform: scale(1.2, 1.2)
}

.data {
    position: absolute;
    bottom: 5%;
    background: #fff;
    text-align: center;
    width: 90%;
    height: 100px;
    overflow: hidden;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px 5%;
    box-sizing: border-box;
    opacity: 0.6;
    transition: all 0.4s
}

#team .card:hover .data {
    width: 100%;
    height: 100%;
    bottom: 0;
    opacity: 0.9;
    padding: 90px 5%
}

.data h2 {
    margin: 0 0 5px 0;
    transition: color 0.4s;
    font-size: 25px;
    font-weight: 500;
    color: #000;
}

.data p {
    opacity: 0;
    font-size: 18px;
    transition: all 0.2s
}

#team .card:hover .data p,
#team .card:hover .data a {
    opacity: 1
}

.data a {
    color: #333;
    text-decoration: none;
    padding: 20px;
    opacity: 0
}

.data a:hover,
#team .card:hover h2 {
    color: #38c
}

@media (max-width:799px) {
    #team .card {
        width: 100%;
        margin-right: 0
    }
}



/* follow me @nodws */
.btn-twtr {
    color: #ddd;
    border: 2px solid;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 100px;
    opacity: 0.8
}


/*********************** GENERAL CLIMATE LITERACY PAGE *********************************/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);


#literacy-videos {
    display: table;
    height: 100%;
    width: 100%;
    font-family: 'Roboto';
}

#literacy-videos p {
    font-size: 17px;
}

.container-fostrap {
    display: table-cell;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
}

.fostrap-logo {
    width: 100px;
    margin-bottom: 15px
}

#literacy-videos h1.heading {
    color: #fff;
    font-size: 1.15em;

    margin: 0 0 0.5em;
    color: #505050;
    text-transform: capitalize;
}

@media (min-width: 450px) {
    #literacy-videos h1.heading {
        font-size: 2.5em;
    }
}

@media (min-width: 760px) {
    #literacy-videos h1.heading {
        font-size: 2em;
    }
}

@media (min-width: 900px) {
    #literacy-videos h1.heading {
        font-size: 2.5em;
        margin: 0 0 0.3em;
    }
}

#literacy-videos .card {
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow .25s;
}

#literacy-videos .card:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#literacy-videos .img-card {
    width: 100%;
    height: 200px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: block;
    overflow: hidden;
}

#literacy-videos .img-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: all .25s ease;
}

#literacy-videos .card-content {
    padding: 15px;
    text-align: left;
}

#literacy-videos .card-title {
    margin-top: 0px;
    font-weight: 700;
    font-size: 1.65em;
}

#literacy-videos .card-title a {
    color: #000;
    text-decoration: none !important;
}



#literacy-videos .card-read-more a {
    text-decoration: none !important;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase
}